html{
    width: 1000px;
    margin: 15px auto;
    border:5px solid rgba(240, 240, 240, .6);
    padding: 15px;
}
body{
    background: #0d8052;
    color: #f0f0f0;
}
header{
    height: 200px;
    border-bottom: 2px solid rgba(240, 240, 240, .4)
}
#headshot{
    float: right;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #f0f0f0;
}
h1{
    display: inline;
}
