html{
    width: 1000px;
    margin: 15px auto;
    border: 5px solid rgba(240, 240, 240, .6);
    text-shadow: 1px 1px rgba(117, 117, 117, 0.5);
}
a {
    text-decoration: none;
    font-weight: 600;
}
.sentence-link{
    color: black;
    text-decoration: none;
}
.sentence-link:hover{
    color: white;
    transition: all 0.3s ease;
}
body{
    background: rgba(173, 209, 174, 0.5);
    color: #000000;
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    background: rgb(95, 193, 100);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
nav h1{
    font-family: 'Merienda', cursive;
    padding: 0 15px;
    flex-grow: 5;
    font-size: 40px;
    color: white;
}
nav a{
    flex-grow:1;
    text-align: center;
    color: white;
    transition: all 0.3s ease;
}
nav a:hover{
    color: rgb(59, 91, 194);
    transition: all 0.3s ease;
}
header{
    background: rgb(95, 193, 100);
    border-bottom: 2px solid rgba(240, 240, 240, .6);
}
#headshot{
    height: 150px;
    width: 150px;
    margin: 2px;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    box-shadow: 3px 3px rgba(105, 105, 105, 0.5);
}
.sm-links{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.sm-links li{
    margin: 0 5px;
    transition: all 0.3s ease;
}
.sm-links li:hover{
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    list-style-image: url(./images/ul.png)
}
.skills li{
    flex-basis: 30%;
    margin: 5px;
}
.bounce:hover { animation: bounce 1s; }

@keyframes bounce {
	  0% { transform: rotate(  0deg) scale(1.0); }
	 33% { transform: rotate( 12deg) scale(1.2); }
	 67% { transform: rotate(-12deg) scale(0.8); }
	100% { transform: rotate(  0deg) scale(1.0); }
}
.game-title {
    font-family: 'Merienda', cursive;
    color:rgb(29, 20, 151);
}
.project-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    box-shadow: 3px 3px rgba(105, 105, 105, 0.5);
    float: left;
    margin: 0 10px 0 5px;
}
p{
    letter-spacing: 1px;
}
.project:first-letter{
    font-weight: bold;
    float: left;
    color: rgb(29, 20, 151);
    font-size: 200%;
    letter-spacing: 3px;
}
.project {
    margin:5px;
}
