.profPic{
  vertical-align: initial;
  height: 100px;
  width: 100px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  box-shadow: 3px 3px rgba(105, 105, 105, 0.5);
  float: left;
}
header{
  background: rgb(95, 193, 100);
  border-bottom: 2px solid rgb(95, 193, 100);
  padding-top: 5px;
}
.nav-lock{
  background: rgb(95, 193, 100);
  border-bottom: 2px solid rgba(240, 240, 240, .6);
  position: -webkit-sticky;
  position: sticky;
  padding-top: 5px;
  height: 20px;
  top: 0px;
  z-index: 1;
}
.intro{
  font-family: 'Merienda', cursive;
  color: white;
}
h1.intro{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 110px;
}
h2.intro{
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: 160px;
}
nav{
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}
.info{
  padding: 22px 10px;
  margin-bottom: 100px;
}
.indent{
  text-indent: 32px;
}
.project-title {
  font-family: 'Merienda', cursive;
  margin: 0;
  font-weight: bold;
}
.lead{
  margin-top: 3px;
}
.project-title:first-letter{
  font-weight: bold;
  font-size: 200%;
}
.nav-link{
  flex-grow:1;
  text-align: center;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-link:hover{
  color: rgb(210,126,204);
  transition: all 0.3s ease;
  text-decoration: none;
}
@media (min-width: 992px){
  h2.intro{
    margin-left: 400px;
  }
  h1.intro{
    margin-left: 200px;
  }
  .profPic{
    height: 150px;
    width: 150px;
  }
}