.contact {
    background: #f0f0f0;
    margin-bottom:200px;
}
.contact-link{
    padding:5px;
    display: block;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
}
.contact-link:hover{
    color: rgb(95, 193, 100);
    transition: all 0.3s ease;
    text-decoration: none;
}
.con-setup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-flex{
    flex-basis: 25%;
}
.contact-img{
    display: block;
    margin: auto;
}