.extras{
    background: rgb(74, 119, 77);
    color: white;
}
.extra-link{
    color: rgb(221, 221, 221);
    text-decoration: none;
    transition: all 0.3s ease;
}
.extra-link:hover{
    color: rgb(210,126,204);
    transition: all 0.3s ease;
    text-decoration: none;
}