.proj{
    background: rgb(210,126,204);
}
.show-proj{
    width: 500px;
}
.scroll{
    overflow-x: auto;
    margin-top: -15px;
}
.proj-slide{
    width: 85%;
    margin: 15px auto;
}
.project-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    box-shadow: 3px 3px rgba(105, 105, 105, 0.5);
    margin: 10px 10px 5px 5px;
    float: left;
}
h4{
    font-family: 'Merienda', cursive;
    margin-bottom: 2px;
    margin-top: 2px;
}
.proj-desc{
    margin: auto 5px;
}
.proj-hidden{
    display: none;
    /* color: black; */
}
.proj-visible{
    display: inherit;
    /* color: white; */
}
.more-btn{
    display: inherit;
}
.less-btn{
    display: none;
}
.sentence-link{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
}
.sentence-link:hover{
    color: rgb(210,126,204);
    transition: all 0.3s ease;
    text-decoration: none;
}