.skills{
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
}
.group{
    background: #f0f0f0;
}
.skills li{
    flex-basis: 30%;
    margin: 5px;
}
.scroll{
    overflow-x: auto;
    margin-top: -15px;
}