body {
  margin: 0;
  padding: 0;
  background: rgba(173, 209, 174, 0.5);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-shadow: 1px 1px rgba(117, 117, 117, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  font-weight: 600;
}
@media (min-width: 992px){
  body{
    width: 900px;
    margin: auto;
    font-size: x-large;
  }
}